.star-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-rating-array {
  margin: 16px;
  display: flex;
  cursor: pointer;
}

.star-rating-hint {
  margin: 16px;
}

.star-rating-faces {
  margin: 16px;
  font-size: 6rem;
}
